

.container{
  max-width: 60rem;
    min-width: 20em;
    margin: auto;
    padding: 1px;
    background-color:#F5F5F5;
    font-size:20px;
    width:80%;
    height:auto;
}



.grid_style {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:20px;
}

.ListContainer {
    padding: 3rem 0;
    padding-left: 0;
    display: grid;
    /*grid-template-rows: auto auto auto;*/
    grid-template-columns: auto auto auto;
  }

  .categoryCard {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    border: 2px solid grey;
    border-radius: 50px;
    
  }
  

.categoryContainer {
    
    margin: auto;
  }


  .categoryBackLink {
    text-decoration: none;
    color: black;
    font-family: Futura, Arial, sans-serif;
  }
  
  .categoryTitle {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color:black;
  }
  /*
  .categoryCard {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px;
  }
  */
  
  .categoryRecipeImg {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
  
    border-radius: 10px;
  }
  
  .categoryRecipe {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    padding-left: 50px;
  }
  
  .categoryRecipeName {
    font-weight: bold;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
  }
  
  .categoryRecipeDescription {
    grid-column-start: 2;
    grid-column-end: 3;
    font-style: italic;
    color: black;
    font-family: Verdana, Helvetica, sans-serif;
  }
  
  .categoryText {
    text-align: center;
    margin: 50px;
    font-family: Futura, Arial, sans-serif;
  }
  
  .categorySubscribe {
    color: black;
  }
  
  @media screen and (min-width: 400px) {
    .categoryRecipeImg {
      width:150px;
    }
    .categoryBackLink {
      font-size: 15px;
    }
    .categoryTitle {
      font-size: 20px;
    }
    .categoryRecipeName {
      font-size: 15px;
    }
    .categoryRecipeDescription {
      font-size: 12px;
    }
    .categoryText {
      font-size: 15px;
    }
  } 
  @media screen and (min-width: 600px) {
    .categoryBackLink {
      font-size: 15px;
    }
    .categoryTitle {
      font-size: 20px;
    }
    .categoryRecipeName {
      font-size: 15px;
    }
    .categoryRecipeDescription {
      font-size: 12px;
    }
    .categoryText {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 900px) {
    .categoryBackLink {
      font-size: 18px;
    }
    .categoryTitle {
      font-size: 22px;
    }
    .categoryRecipeName {
      font-size: 18px;
    }
    .categoryRecipeDescription {
      font-size: 14px;
    }
    .categoryText {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .categoryBackLink {
      font-size: 20px;
    }
    .categoryTitle {
      font-size: 25px;
    }
    .categoryRecipeName {
      font-size: 20px;
    }
    .categoryRecipeDescription {
      font-size: 15px;
    }
    .categoryText {
      font-size: 20px;
    }
  }
  