.container {
    margin: 10px;
    flex-direction: column;
    display: grid;
    grid-template-rows: 70% 15% 15%;
}

.RecipeItem_ItemContainer__35fDr {
    background-image: linear-gradient(to right, rgba(204, 0, 0, .5), #eee 20% ) ;
    border: 1px solid #c00;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

    margin: 10px;
    flex-direction: column;
    display: grid;
    grid-template-rows: 70% 15% 15%;
}

/*.container + .container {
    margin-top: 30px;
}
background-image: linear-gradient(to right bottom, #f1d690, #db9a96);
*/

.title {
    color: #c00;
    margin: 0 0 20px;
    text-decoration: underline;
}

.text {
    font-size: 12px;
    margin: 0 0 20px;
}

.time {
    font-weight: bold;
}


.ItemContainer{
    margin: 10px;
    flex-direction: column;
    display: grid;
    grid-template-rows: 80% 20%;
}
.recipe__link:link,
.recipe__link:visited{
  display: flex;
  align-items: center;
  transition: all 0.3s;
  text-decoration: none;
}
.recipe__link:hover,
.likes__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}
.recipe__link--active,
.likes__link--active {
  background-color: #f9f5f3;
}
.recipe__fig {
  flex: 0 0 16rem;
  border-radius: 10%;
  overflow: hidden;
  height: 16rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}
.recipe__fig::before{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.recipe__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.recipe__name{
  font-size: 1rem;
  color: #0d4d96;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.3rem;
  text-align: center;
}
.recipe__author{
  font-size: 0.7rem;
  color: #a1b5c7;
  text-transform: uppercase;
  font-weight: 600;
}
.recipe__pages{
  margin-top: 3rem;
  padding: 0 3rem;
}
.recipe__pages::after{
  content: "";
  display: table;
  clear: both;
}
.recipe__btn--prev {
  float: left;
  flex-direction: row-reverse;
}
.recipe__btn--next{
  float: right;
}.categoryContainer {
  max-width: 60em;
  min-width: 20em;
  margin: auto;
}

.categoryBackLink {
  text-decoration: none;
  color: black;
  font-family: Futura, Arial, sans-serif;
}

.categoryTitle {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
}

.categoryCard {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  
  border-radius: 50px;
  padding: 50px;
}

.categoryRecipeImg {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  width: 300px;
  border-radius: 10px;
}

.categoryRecipe {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  padding-left: 50px;
}

.categoryRecipeName {
  font-weight: bold;
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}

.categoryRecipeDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  font-style: italic;
  color: black;
  font-family: Verdana, Helvetica, sans-serif;
}

.categoryText {
  text-align: center;
  margin: 50px;
  font-family: Futura, Arial, sans-serif;
}

.categorySubscribe {
  color: black;
}

@media screen and (min-width: 600px) {
  .categoryBackLink {
    font-size: 15px;
  }
  .categoryTitle {
    font-size: 20px;
  }
  .categoryRecipeName {
    font-size: 15px;
  }
  .categoryRecipeDescription {
    font-size: 12px;
  }
  .categoryText {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) {
  .categoryBackLink {
    font-size: 18px;
  }
  .categoryTitle {
    font-size: 22px;
  }
  .categoryRecipeName {
    font-size: 18px;
  }
  .categoryRecipeDescription {
    font-size: 14px;
  }
  .categoryText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .categoryBackLink {
    font-size: 20px;
  }
  .categoryTitle {
    font-size: 25px;
  }
  .categoryRecipeName {
    font-size: 20px;
  }
  .categoryRecipeDescription {
    font-size: 15px;
  }
  .categoryText {
    font-size: 20px;
  }
}
