.recipeContainer {
    max-width: 60em;
    min-width: 20em;
    margin: auto;
    background-color: aliceblue;
  }

  .linkBox{
    margin-bottom:20px;
  }
  .recipesBackLink {
    text-decoration: none;
    color: black;
    font-family: Futura, Arial, sans-serif;
  }
  
  .recipeImg {
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  .recipeName {
    margin-bottom: 30px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
  }
  
  .recipeTitle {
    font-weight: bold;
    font-family: Verdana, Helvetica, sans-serif;
  }
  
  .recipeIngredients {
    margin-bottom: 30px;
    font-style: italic;
    font-family: Verdana, Helvetica, sans-serif;
    text-align:left;
  }
  
  .recipeDetail {
    font-family: Verdana, Helvetica, sans-serif;
    text-align:left;
  }
  
  .recipeBackLink {
    text-decoration: none;
    padding-bottom: 50px;
    color: black;
    font-family: Futura, Arial, sans-serif;
  }
  
  @media screen and (min-width: 400px) {
    .recipeImg {
      width: 400px;
    }
    .recipeName {
      font-size: 20px;
    }
    .recipeTitle,
    .recipeBackLink {
      font-size: 15px;
    }
    .recipeDetail,
    .recipeIngredients {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 600px) {
    .recipeImg {
      width: 400px;
    }
    .recipeName {
      font-size: 20px;
    }
    .recipeTitle,
    .recipeBackLink {
      font-size: 15px;
    }
    .recipeDetail,
    .recipeIngredients {
      font-size: 12px;
    }
  }
  
  @media screen and (min-width: 900px) {
    .recipeImg {
      width: 500px;
    }
    .recipeName {
      font-size: 22px;
    }
    .recipeTitle,
    .recipeBackLink {
      font-size: 18px;
    }
    .recipeDetail,
    .recipeIngredients {
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .recipeImg {
      width: 600px;
    }
    .recipeName {
      font-size: 25px;
    }
    .recipeTitle,
    .recipeBackLink {
      font-size: 20px;
    }
    .recipeDetail,
    .recipeIngredients {
      font-size: 15px;
    }
  }