.loginContainer {
    font-size: 20px;
    padding: 20px;
    margin-right: auto;
}


.contentBox{
    position: relative;
    z-index: 1;
    max-width: 360px;
    max-height: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 0em;
    margin-bottom:90px;
    width: 50%;
    padding: 40px 30px 10px 30px;
    background-image: linear-gradient(to right, #06719b, #5d80cc);
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:block;
    margin:0 auto;
  }

.logoBox{
    text-align:center;
}

.loginTitle{
    color:white;
    text-align:center;
}
  
  
.usernameBox{
    margin-top:20px;
}
.passwordBox{
    margin: 20ox 37% 50px;
    margin-top:20px;
}

.alertBox{
    margin-top:20px;
    margin-bottom:20px;
}

.input{
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}


.registerLink{
    color: rgb(138, 21, 21);
    font-size: 14px;
    text-decoration: underline;
    display: block;
}
.loginBotton{
    margin: 0 37% 17px;
    color: gray;
    font-size: 14px;
    text-decoration: underline;
    display: block;
}
.submit{
    margin: 0 37% 300px;
    width: 80px;
    height: 40px;
    background-color: orange;
    border: gray;
    
}
.submit:hover{
    background: #f3d1af;
}
.alert{
    font-weight: bold;
    margin: 100px 37%;
    color: orange
}
.welcome{
    margin: 15% 25%;
    font-size: 50px;
    font-weight: bold;
    color: grey;
}