.aboutContainer {
    max-width: 60rem;
    min-width: 20em;
    margin: auto;
    padding: 1px;
    background-color: #F5F5F5;
    font-size:20px;
    width:80%;
    height:auto;
  }


  .About_part img {
    width: 60%;
    float:inherit;
    margin-left: 20%;
    height:auto;
  
  }
  
  
  .About_part p {
    padding: 1px;
    margin-left: 20%;
    background-color: #F5F5F5;
    font-size:20px;
    border:1px,solid,#F5F5F5;
    width:60%;
    height:auto;
    text-align: left;
  
  }
  
  
  .title {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    text-align:center;
  }

  
  
  

