.contentBox{
    position: relative;
    z-index: 1;
    max-width: 380px;
    max-height: 800px;
    margin: 0 auto;
    display: block;
    margin-top: 0em;
    margin-bottom:90px;
    width: 50%;
    padding: 40px 30px 10px 30px;
    background-image: linear-gradient(to right, #06719b, #5d80cc);
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:block;
    margin:0 auto;
  }

.logoBox{
    text-align:center;
}

.registerTitle{
    color:white;
    text-align:center;
}

.input{
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 12px !important;
    color: #000 !important;
    font-weight: 400
}

.opinput{
    background-color: white;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 12px !important;
    color: #000 !important;
    font-weight: 400
}

.opTitle{
    text-align:center;
}
  
.usernameBox{
    margin-top:20px;
}
.passwordBox{
    margin-top:20px;
}
.emailBox{
    margin-top:20px;
}
.zipcodeBox{
    margin-top:10px;
}
.phoneBox{
    margin-top:10px;
}
.genderBox{
    margin-top:15px;
}
.ageBox{
    margin-top:15px;
}

.signupBotton{
    margin: 0 37% 17px;
    margin-top:50px;
    color: gray;
    font-size: 14px;
    text-decoration: underline;
    display: block;
}
.submit{
    margin: 50px 37% 100px;
    width: 80px;
    height: 40px;
    background-color: orange;
    border: gray;
}
.submit:hover{
    background: #E5B687;
}
.alert{
    font-weight: bold;
    margin: 100px 37%;
    color: orange
}
.welcome{
    margin: 15% 25%;
    font-size: 50px;
    font-weight: bold;
    color: grey;
}